.banner{
    height: 500px;
    margin-top: 0px;
    
    
}
.bannerContent{
margin-left: 50px;
padding-top: 270px;
height: 200px;
}
.title{
    font-size: xx-large;
    padding-bottom: 15px;
}
.overview{
    width: 700px;
}